body{
    font-family: sans-serif;
    background-color: #f4f4f9;
}

.survey-form {
    background-color: #fff;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgb(0,0,0,0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px soild #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #5a67d8;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease,transform 0.3 ease;
}

button:hover {
    background-color: #434190;
    transform: scale(1.05);
}
